asgiref==3.5.2
distlib==0.3.6
Django==4.1
django-ckeditor==6.5.1
django-debug-toolbar==3.2.4
django-js-asset==2.0.0
flake8==5.0.4
iniconfig==1.1.1
isort==5.10.1
mccabe==0.7.0
Pillow==9.2.0
platformdirs==2.5.2
pluggy==0.13.1
pre-commit==3.2.1
py==1.11.0
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.9
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
pytz==2022.1
PyYAML==6.0
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.3.0
tzdata==2022.2
urllib3==1.26.11
zipp==3.8.1
