{% extends 'base.html' %}
{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}
{% block header %}Пост пользователя
      {% if author.first_name or author.last_name %}
        {{ post.author.get_full_name }}
      {% else %}
        {{ post.author.username }}
      {% endif %}
{% endblock %}
{% block content %}

      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
            <li class="list-group-item">
            Группа: {{ post.group.title }}
            {% if post.group %}
              <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
            {% endif %}
            </li>
            <li class="list-group-item">
              {% if author.first_name or author.last_name %}
                Автор: {{ post.author.get_full_name }}
              {% else %}
                Автор: {{ post.author.username }}
              {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора: {{ n_posts }}
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          {% load thumbnail %}
            {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img" src="{{ im.url }}" />
            {% endthumbnail %}
          <p>
            {{ post.text }}
            {% include 'includes/comments.html' %}
          </p>
           <!-- эта кнопка видна только автору -->
           {% if post.author == user %}
           <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}" role="button">Редактировать запись</a>
           {% endif %}
        </article>
      </div>
{% endblock %}
