{% extends "base.html" %}
{% block title %}Профайл пользователя {{ author.get_full_name }} {% endblock title %}
<h1> {% block header %}Все посты пользователя
    {% if author.first_name or author.last_name %}
      {{ author.get_full_name }}
    {% else %}
      {{ author.username }}
    {% endif %}
  {% endblock header %} </h1>
{% block content %}
<div class="mb-5">
  <h3>Всего постов: {{ n_posts }}</h3>
  {% if author != user %}
    {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
    {% else %}

            <a
              class="btn btn-lg btn-primary"
              href="{% url 'posts:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
      {% endif %}
   {% endif %}
</div>
    {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      {% load thumbnail %}
            {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img" src="{{ im.url }}" />
            {% endthumbnail %}
      <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
          </article>
          {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}"> все записи группы {{ post.group.title }}</a>
          {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock content %}
